@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #fc5139;
$secondary: #8a0202;
body{
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, a{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.cat-section{
    background-image: url('../images/cat-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
}



    .video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-docker::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
